{% extends "base.html" %} 
{% block title %}
{% endblock %} 
{% block content %} 
<main class="main group" role=main>
    <section class="richtext-ribbon container">
      <div class="row image-floating-left">
        <div class="col-lg-12">
          <h2 class="center">Stock Prediction</h2>
          <h3 class="center">Analyze single ticker using our algorithm.</h3>
          <br />
          <div class="col-md-4">
            <h2 class="center">Ticker Input</h2>
            <div class="data-form">
              <form action="/prediction" method="POST" class="data-form">
                <label>Symbol</label>
                <input class="form-control" type="text" id="ticker" placeholder="AMZN" value="{{ ticker }}" name="ticker">
                <br />
                <br />
                <label>From Date</label>
                <input class="form-control" type="text" id="from_date" placeholder="5/11/19" value="{{ from_date }}" name="from_date">
                <label>To Date</label>
                <input class="form-control" type="text" id="to_date" placeholder="5/11/20" value="{{ to_date }}" name="to_date">
                <br />
                <br />
                <label>Moving Avg 1</label>
                <input class="form-control" type="text" id="ma1" placeholder="50" value="{{ ma1 }}" name="ma1">
                <label>Moving Avg 2</label>
                <input class="form-control" type="text" id="ma2" placeholder="100" value="{{ ma2 }}" name="ma2">
                <br />
                <br />
                <br />
                <button type="submit" class="button">Set</button>
              </form>
            </div>
          </div>
          <br />
          <div class="col-md-4 center-figure">
            <h3>Forecast</h3> 
            {% if img %} 
            <img src="{{ url_for('static', filename = 'images/'+img) }}" alt="" class="figure"> 
            {% else %} 
            <img src="{{ url_for('static', filename = 'images/predict.png') }}" alt="" class="figure"> 
            {% endif %}
          </div>
          <div class="col-md-4">
            <div class="analysis">
              <h3>Analysis</h3>
              <table id="analysisOne">
                <tr>
                  <td>Symbol:</td>
                  <td>{{ ticker }}</td>
                </tr>
                <tr>
                  <td>Forecast:</td>
                  <td>{{ trend if trend != None else 'x' }}</td>
                </tr>
                <tr>
                  <td>Current Price:</td>
                  <td>{{ price }}</td>
                </tr>
                <tr>
                  <td>Change Today:</td>
                  <td>{{ day }}</td>
                </tr>
                <tr>
                  <td>Perf (Week):</td>
                  <td>{{ week }}</td>
                </tr>
                <tr>
                  <td>Perf (Quarter):</td>
                  <td>{{ quarter }}</td>
                </tr>
                <tr>
                  <td>Market Cap:</td>
                  <td>{{ cap }}</td>
                </tr>
              </table>
            </div>
          </div>
          <br />
          <div class="col-md-4">
            <h3>Estimated Closing Prices</h3>
            <div class="Forecast">
              {{ value }}
            </div>
          </div>
          <br />
          <div class="col-md-4">
            <h3>Recent Headlines</h3>
            <table class="headlines">
              <th></th>
              <tbody> 
                {% for h in headlines %} 
                <tr>
                  <td>{{ h }}</td>
                </tr> 
                {% endfor %} 
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
</main> 
{% endblock %}