<html>
<style>
h1{
  border-style: inset;
  border-width: 7px;
  border-color: coral;
}
</style>
<body>

<h1 style="text-align: center;">Velkommen til fp-shop</h1>
<br /><br />
<form method="POST" style="text-align: center; border: solid;">
    
    <strong>Brugernavn: </strong>
    <br /><br />
    <input name="text">
    <br /><br />
    <strong>Password:   </strong>
    <br /><br />
    <input name="text2">
    <br /><br />
    <input type="submit" name="log_in" value="login" />
    
</form>


</body>
</html>