<!DOCTYPE html>
<html>
<style>
table, th, tr, td {
  border:1px solid black;
}
</style>
<body>

<h2>TR elements define table rows</h2>

<table style="width:100%">
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
  <!-- For loop logic of jinja template -->
  
  {%for x in Pokemons%}
  <tr>
  <td>{{x[0]}}</td>
  <td>{{x[1]}}</td>
  <td>{{x[2]}}</td>
  </tr>

  {%endfor%}




</table>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>
