<html>
  <style>
table, th, td {
  border:3px solid rgba(59, 152, 133, 0.77);
  float: center;
}

body {
  background-color: lightblue;
}




  </style>


  <head>
    <title>Startside</title>
  </head>
  <body>
    <div align="center">
      <h1> <br /> Tværfaglig dag <br /><br /> </h1>
    </div>
    <p><button onclick="sortTable()">Sorter</button></p>
    <div>
        <table id="myTable" class="w3-table-all w3-wihte" style="width:auto">
            <tr>
                <td> <b> Uid </b></td>
                <td> <b> ItemNo </b> </td>
                <td> <b>Attributes </b></td>
                <td> <b>Billede </b></td>
                <td> <b>PrisPrivat </b></td>
                <td> <b>PrisRetailer </b></td>
            </tr> 
          {%for x in data%}
          <tr>
            <td>{{ x.uid }}</td>
            <td>{{ x.ItemNo}}</td>
            <td>{{ x.Attributes }}</td>
            <td><img src="{{ x.Billede }}" width="100" height="60"> </img> </td>
            <td>{{ x.PrisPrivat }} kr.</td>
            <td>{{ x.PrisRetailer }} kr.</td>
          </tr>
          {%endfor%}
        </table>
    </div>
<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementByPrisPrivat("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagAttributes("TD")[0];
      y = rows[i + 1].getElementsByTagPrisAttributes("TD")[0];
      //check if the two rows should switch place:
      if (Number(x.innerHTML) > Number(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>  

  </body>
</html>