<html>
  <style>
table, th, td {
  border:3px solid rgba(15, 110, 91, 0.77);
  float: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: lightblue;
}




  </style>

 
  <head>
    <title>Min ladestander</title>
  </head>
  <body>
    
    <p>Besked fra Clever</p>
    <br>
    <p>Der er opstået en fejl på din ladestander</p>
    <p>Status for ladestander: Fejl</p>
    <br>
    <p>Driftsmedarbejder: Boris Vestergaard</p>
    <p>Ankomst: 13.00-14.00</p>
    <p>Forventet færdiggjort: 15.00</p>
    <br>
    <br>
    <p>Kontakt Clever - 82 30 30 30</p>
    <br>
    <p>Strømforbrug/mdr: 350 kWh</p>

  </body>
</html>